/* This makes printed documents use two columns. */
@media print {
    body {
        column-count: 2;
    }
}

p {
    font-size: 1.2em;
}

ol {
    list-style-type: lower-alpha;
}

.custom {
    color: blue;
}

/* This makes empty table headers disappear; a workaround for headerless tables. */
thead th:empty {
    display: none;
}

table, th, tr, td {
    border: none;
    border-collapse: collapse;
    padding-left: 30px;
}

/* This makes tables after a <div class="main"></div> use bold font. */
div.main + table {
    font-weight: 900;
}

/* This makes tables after a <div class="variation"></div> use italics. */
div.variation + table {
    font-style: italic;
}